[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.13"
celery = "*"
django-redis = "*"
redis = "*"
requests = "*"
django-tables2 = "*"
django-bootstrap4 = "*"
django-filter = "*"
django-celery-beat = "*"
django-dbsettings = "*"
dataclasses-json = "*"
ratelimiter = "*"
selenium = "*"
webdriver_manager = "*"
retry = "*"

[requires]
python_version = "3.7"
