{% extends 'base2.html' %}
{% load render_table from django_tables2 %}

{% load bootstrap4 %}
{% block content %}


<div class="row mb-3">
    <div class="col-md-10 col-sm-12">
        <h2>Produkty do synchronizacji</h2>
    </div>
    <div class="col-md-2 col-sm-12">
        <a href="/sync" class="btn btn-success pull-right" onclick="return confirm('Jesteś pewny? Polecam stosować przy wylączonym harmonogramie :)')">Synchronizuj</a>
    </div>

</div>
<hr>
{% if filter %}
<div class="row justify-content-end">
    <div class="col-md-8 col-sm-12">
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'Szukaj' %}
        </form>
    </div>

    <div class="col-md-2 col-sm-12 pull-right">
                <a href="/wfirma" class="btn btn-primary">Aktualizuj z Wfirmy</a>
    </div>

    <div class="col-md-2 col-sm-12">
            <a href="/product/delete_all" class="btn btn-danger" onclick="return confirm('Jesteś pewny? Wyzeruje to pobrane dane z Wfirmy\nUżyj jeśli zmieniłeś konto wfirmy')" >Wyczyść tabele</a>
</div>
</div>
{% endif %}


{% render_table table %}
{% endblock %}